<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        Jesús llegó a Jericó y comenzó a atravesar la ciudad. Allí había un hombre rico que era el jefe
                        de los cobradores de impuestos. Su nombre era Zaqueo. Estaba tratando de ver quién era Jesús,
                        pero no pudo porque había mucha gente y él era bajito. Para poder verlo, salió corriendo, fue a
                        un lugar por donde Jesús tenía que pasar y se subió a un árbol sicómoro.
                        <br/>
                        <small class="float-end">
                            Lucas 19:1-4 (PDT)
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    CÓMO JESÚS ME DA UNA NUEVA OPORTUNIDAD
                </h4>
                <h5 class="text-izq text-600">
                    1. Jesús me ve aun cuando nadie más lo hace:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando Jesús llegó al lugar, miró hacia arriba y le dijo: ‘Zaqueo, baja en seguida. Tengo que
                    quedarme hoy en tu casa.’”
                    <br/>
                    <small class="float-end">
                        Lucas 19:5 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Mis trajines y descansos los conoces; todos mis caminos te son familiares.
                    <br/>
                    <small class="float-end">
                        Salmos 139:3 (NVI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    2. Jesús se acerca a mi vida tal como estoy:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Así que se apresuró a bajar y, muy contento, recibió a Jesús en su casa.”
                    <br/>
                    <small class="float-end">
                        Lucas 19:6 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Mira que estoy a la puerta y llamo. Si alguno oye mi voz y abre la puerta, entraré, cenaré con él y
                    él conmigo.”
                    <br/>
                    <small class="float-end">
                        Apocalipsis 3:20 (NVI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    3. Jesús despierta en mí el poder de un cambio real:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Pero Zaqueo dijo resueltamente: —Mira, Señor, ahora mismo voy a dar a los pobres la mitad de mis
                    bienes y si en algo he defraudado a alguien, le devolveré cuatro veces la cantidad que sea.’”
                    <br/>
                    <small class="float-end">
                        Lucas 19:8 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “No será por la fuerza ni por el poder, sino por mi Espíritu, dice el SEÑOR Todopoderoso.”
                    <br/>
                    <small class="float-end">
                        Zacarías 4:6 (PDT)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Yo soy la vid y ustedes las ramas. El que permanece en mí, y yo en él, producirá mucho fruto, pues
                    separados de mí, ustedes no pueden hacer nada.”
                    <br/>
                    <small class="float-end">
                        Juan 15:5 (NVI)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    4. Jesús me regala una nueva vida:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “—Hoy ha llegado la salvación a esta casa —le dijo Jesús—, ya que este también es hijo de Abraham.
                    Porque el Hijo del hombre vino a buscar y a salvar lo que se había perdido.”
                    <br/>
                    <small class="float-end">
                        Lucas 19:9-10 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Por lo tanto, si alguno está en Cristo, es una nueva creación. ¡Lo viejo ha pasado, ha llegado ya
                    lo nuevo!”
                    <br/>
                    <small class="float-end">
                        2 Corintios 5:17 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Busquen al Señor mientras se deje encontrar, llámenlo mientras esté cercano.”
                    <br/>
                    <small class="float-end">
                        Isaías 55:6 (NVI)
                    </small>
                </p><br/>



                <hr>

                {#            Pie de las notas      #}

{#                <div class="col-sm-10 mx-auto my-2">#}
{#                    <div class="col-sm-8 mx-auto text-center">#}
{#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia#}
{#                        en tu#}
{#                        iglesia en <a class="btn btn-link"#}
{#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"#}
{#                                      target="_blank"> Youversion</a>.#}
{#                        <br/>#}
{#                        La aplicación más descargada en todo el mundo.<br/>#}
{#                        Sigue el <a class="btn btn-link"#}
{#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"#}
{#                                    target="_blank"> enlace</a> y descubre cómo.#}
{#                    </div>#}

{#                    #}{#                <div class="col-12 mx-auto text-left"> #}
{#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
{#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
{#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
{#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
{#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
{#                    #}{#                    </h6> #}
{#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
{#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
{#                    #}{#                </div> #}
{#                </div>#}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
